@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Work Sans Font */
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font: weight 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
/* Dark 02 */
.text-gray {
  color: #424242;
}
/* Dark 03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.font-medium {
  font-weight: 500;
}

.btn-primary {
  background: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
}

.colorful {
  color: #ff900e;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 80px;
}

/* Header Styles */
/* NavBar Styles */
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-links a {
  text-decoration: none;
}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Styling */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 32px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* Team & feature Styling */

.team {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature {
  margin-left: 73px;
  max-width: 530px;
}

/* Facts Styling */

.facts-container {
  display: grid;
  gap: 145px;
  grid-template-columns: repeat(4, 1fr);
}

.facts-description {
  max-width: 542px;
}

.fact {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

/* Our sponsor styling */

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  align-items: center;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  gap: 125px;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.sponsor-companies img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

/* Feature Section Styling */

.features {
  gap: 140px;
  align-items: start;
  margin-top: 130px;
}
#features-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}

.feature-card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-card {
  padding: 22px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 8px;
}

.experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -92px;
  margin-top: -77px;
  background-color: #ff900e;
  color: #ffffff;
}

#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

/* footer Styling */

footer {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  background: rgba(255, 244, 231, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 130px;
  margin-bottom: 216px;
  text-align: center;
}





/* Responsive Media query */

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-links,
  .team,
  .features {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .facts {
    padding: 0 40px;
  }

  .facts-container,
  .sponsor-companies {
    justify-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .features {
    margin-left: 20px;
    padding: 20px;
  }
  .architect-img img {
    width: 100%;
    margin-top: -50px;
  }

  #experience-year {
    font-size: 2rem;
    font-weight: 700;
  }
  .experience-badge {
    background: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin: 10px auto;

  }
  footer{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Medium Size Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .team,
  .features {
    flex-direction: column;
  }
  .feature {
    margin-left: 73px;
    max-width: 1440px;
    padding: 73px;
    margin-right: 73px;
    margin-left: 73px;
  }

  .features {
    margin-left: 20px;
    padding: 20px;
    margin-top: -80px;
  }
  .architect-img img {
    width: 100%;
    margin-top: -80px;
  }

  #experience-year {
    font-size: 2rem;
    font-weight: 700;
  }
  .experience-badge {
    background: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
  }

  .facts {
    justify-items: center;
    gap: 20px;
    margin-top: 0;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
